.footer{
    /* display: flex; */
    /* align-items: center; */
    /* background-color: rgb(190, 52, 52); */
    /* box-sizing: border-box;*/
    background-color: rgb(197, 25, 25); 
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 290px;
    padding: 17px;

}
.contact{
    justify-content: center;
    display: flex;
    gap: 2px;
    align-items: center;
    /* justify-content: space-between; */
}
.facebook{
    justify-content: center;
    display: flex;
    gap: 2px;
    align-items: center;

}
.website{
    justify-content: center;
    display: flex;
    gap: 2px;
    align-items: center;

}